body{
    background-color: black;
      margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;

    grid-template-rows: auto;
    color: white;
  }
  main{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
  }
  .main{
width: 100%;

    height: 25%;
    text-align: center;
    margin-top: 0;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(#851717,#6b0c6b,#383434);


  

  }
  .foto {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    left: 505;
  } 
  @media (max-width:576px )
  {
.foto{
left: 70px;
}
  }



